.input-field input:focus {
    border-bottom: 1px solid #607D8B !important;
    box-shadow: 0 1px 0 0 #607D8B !important;
}
.input-field textarea:focus {
    border-bottom: 1px solid #607D8B !important;
    box-shadow: 0 1px 0 0 #607D8B !important;
}
.input-field .prefix.active {
    color: #607D8B !important;
}
.padding-top{
    padding-top: 1.5rem;
}
.logo{
    padding: 15px;
    display: block;
    margin: 0 auto;
}
.alert-close{
    position: absolute;
    top: 3px;
    right: 5px;
}
.alert{
    color: white;
}
.alert-close{
    cursor: pointer;
}
.side-nav{
    top: 65px;
    width: 250px;
}
.wrapper{
    padding-left: 250px;
}
.nav-logo{
    width: 55px;
    padding-top: 5px;
    padding-left: 5px;
}
.autocomplete {
    display: -ms-flexbox;
    display: flex;
}
.autocomplete .ac-users {
    padding-top: 10px;
}
.autocomplete .ac-users .chip .icon {
    -ms-flex: auto;
    flex: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}
.autocomplete .ac-users .chip:last-child {
    margin-right: 5px;
}
.autocomplete .ac-dropdown .ac-hover {
    background: #eee;
}
.autocomplete .ac-input {
    -ms-flex: 1;
    flex: 1;
    min-width: 150px;
    padding-top: 0.6rem;
}
.autocomplete .ac-input input {
    height: 2.4rem;
}
.hide-members{
    display: none;
}
.assigned-members{
    display: flex;
    justify-content: flex-start;
}
.member{
    padding: 0 15px;
    display: flex;

}
.member img {
    padding-right: 5px;
    align-self: center;
}
.nametag{
    margin-top: 5px !important;
}
.title{
    display: flex;
    justify-content: space-between;
}
#tickets{
    padding-right: 15px;
}
.radio-buttons{
    margin-left: 30px;
}
.tags{
    float: left;
    width:100%;
}
.tag{
    float:left !important;
    margin: 2px !important;
    display: inline-block !important;
}
.name{
    text-align: left;
    margin-right: 5px;
}
#tags-container{
    width: 190px;
}
#names-container{
    width: 250px;
}
.right{
    float:right;
}
.actions a{
    display: block;
    margin: 0 auto;
}
.comment{
    font-size: 18px !important;
}
.comment-text{
    font-size: 14px !important;
}
.description{
    font-size: 16px !important;
    padding: 5px 0;
}